<h2 class="text-danger">You account is locked out.Please try signing in after sometime</h2>
<h3 class="text-info">If you forgot your password <a asp-action="ForgotPassword" , asp-controller="Account">Click Here to reset it</a></h3>