<h3>An internal error occured</h3>
<h4>Please contact the developer at github.com/jeetavasare</h4>
<h2>Error Details</h2>



@* <div class="alert alert-danger"><h4>@ViewBag.exceptionPath</h4></div> *@
<div class="alert alert-danger"><h4>@ViewBag.exceptionMessage</h4></div>
@* <div class="alert alert-danger"><h4>@ViewBag.stackTrace</h4></div> *@
